@{
    ViewData["Title"] = "Home Page";
}


<div class="contianer-fluid py-4">

   
    <div class="container align-content-center text-center py-2">


        <h1 class="text-capitalize m-2 pb-2"> Comfortable Pumbing <br class="py-3" /> discipline to achieve goals</h1>
      <div class="px-6 mx-2 text-wrap">

           <p class="py-2">Lorem ipsum dolor sit amet. Qui asperiores necessitatibus ex velit dolor 33 dolorem provident qui quasi deleniti ea internos magnam in ipsam consequatur nam dolore eaque. Eos fuga nihil est perspiciatis praesentium ut officia dolores qui sint maiores non amet tempore.  </p>
      </div>
       

        <div class="py-2 mx-2">

            <a asp-action="CreateItem" asp-controller="TaskManager" class="btn btn-task"> Add Task</a>

            <a asp-controller="TaskManager" asp-action="Index" class="btn btn-view"> View Task</a>
        </div>

    </div>

    
</div>

