@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@500&display=swap');
html {
  font-size: 14px;
}

.navbar {
    background-color: #1d3557;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*  background-color: #f1faee;*/
    font-family: 'Inter', sans-serif;
   
}

h1{
     font-size:48px;
     font-weight: 900;

}

/*buttons*/
.btn-primary {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 20px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.btn-primary:hover {
        transition: 1000ms;
        padding: 10px 50px;
        transform: translateY(-0px);
        background-color: #fff;
        color: #0066CC;
        border: solid 2px #0066CC;
 }

.btn:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #ff5400;
    border: solid 2px #ff5400;
}

.btn-view {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #ffff;
    background-color: #fca311;
    padding: 10px 30px;
    border: 2px solid #fca311;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


.btn-danger {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #d90429;
    padding: 10px 30px;
    border: 2px solid #d90429;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.btn-danger:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #d90429;
    border: solid 2px #d90429;
}
.btn-task {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #ff5400;
    padding: 10px 30px;
    border: 2px solid #ff5400;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
