@model TaskManager.Models.editTaskModel

@{
    ViewData["Title"] = "EditItem";
}

<div class="container-fluid">


    <div class="container">

        <div class="d-flex">

            <h2> Edit A Task</h2>


            <div class="ms-auto">

                <a asp-action="Index" asp-controller="TaskManager" class="btn btn-danger">Back</a>
            </div>
        </div>
<div class="row">
    <div class="col-md-10">
          <form asp-action="EditItem" asp-controller="TaskManager">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input asp-for="ID" class="form-control" hidden value="@Model.ID" />
            
            </div>
            <div class="form-group py-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="updatedOn" class="form-control" hidden/>
             
            </div>
            <div class="form-group py-3">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control">
                    <option value="new"> New</option>
                    <option value="processing">Processing</option>
                    <option value="complete">Complete</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group py-2">
                <input type="submit" value="Update" class="btn btn-task" />
            </div>
        </form>
    </div>
</div>
</div>

